{% extends'base.html.twig' %}
 {% block body %}
{{ form_start(userForm , {attr: {novalidate: 'novalidate'}}) }}
<div class="bg">
    <div class="col-6 m-auto bg">
        <div class="container-fluid pt-5 pb-5">
            <div class="row justify-content-around ">
                <div>
                    <h2 class="h3 mb-3 font-weight-normal"><a href="{{ path('inscription') }}">Créer un compte</a></h2>
                </div>
                <div class="hr-form"></div>
                <div>
                    <h2 class="h3 mb-3 font-weight-normal"><a href="{{ path('app_login') }}">Connexion</a></h2>
                </div>
            </div>
            <div class="w-100 border-bottom mb-3" ></div>

            <div class="form-i">
                {{ form_label(userForm.name ) }}
                {{ form_widget(userForm.name) }}
            </div>
            <div class="form-i">
                {{ form_label(userForm.firstname ) }}
                {{ form_widget(userForm.firstname ) }}

            </div>
            <div class="form-i">
                {{ form_label(userForm.email ) }}
                {{ form_widget(userForm.email ) }}

            </div>
            <div class="form-i">
                {{ form_label(userForm.password ) }}
                {{ form_widget(userForm.password ) }}

            </div>


            <div>
                {{ form_widget(userForm.submit  , {'attr' : {'class': ' btn btn-primary mt-2'}, 'label': 'enregistrer'}) }}
            </div>

        </div>
    </div>
</div>


{{ form_end(userForm) }}
{% endblock %}
